.academic-record-section {
  padding: 3rem 2rem;
  max-width: 1000px;
  max-height: 600px;
  margin: 0 auto;
  background-color: var(--background);
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  color: var(--text);
}

.degree-info {
  background-color: var(--secondary);
  color: var(--text);
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  border: 2px solid var(--border);
  box-shadow: 0 0 20px rgba(0, 173, 181, 0.2);
}

.degree-info h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--primary);
}

.university {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--text);
}

.timeline {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--text);
  opacity: 0.8;
}

.specialization {
  font-size: 1.1rem;
  margin-bottom: 25px;
  font-weight: 100;
  color: var(--accent);
  background: rgba(0, 245, 212, 0.1);
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid var(--accent);
}

.progress-bar-container {
  margin-top: 30px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.progress-bar {
  width: 100%;
  height: 25px;
  background-color: var(--border);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid var(--primary);
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, var(--primary), var(--accent));
  transition: width 0.8s ease;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--accent);
}


@media (max-width: 768px) {
  .academic-record-section {
    padding: 60px 15px;
  }

  .section-title {
    font-size: 2rem;
  }

  .degree-info {
    padding: 25px;
  }

  .degree-info h3 {
    font-size: 1.5rem;
  }
}
